@model WebApplication1.v_model.rolevm

@{
    ViewData["Title"] = "add";
}

<div class="row">
    <div class="col-md-4 mx-auto rounded border p-3">

        <h1 class="text-center  mb-5 text-danger "> New Role </h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="saverole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group row">
                <div class=" col-sm-4 d-grid">

                    <input type="submit" value="Save" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class=" col-sm-4 d-grid">
        <a class="btn btn-outline-primary" asp-controller="Index" asp-action="Index" role="button"> --Cancel-- </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
