@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<div class="d-grid g-4 col-6 mx-auto">
    <a class="btn btn-primary" asp-controller="cours" asp-action="index" >
        Show-Courses
    </a>

</div>
